:host {
  #upscale {
    .storybook-category-content-background-overlay {
      background-color: inherit;
    }

    .storybook-category-content-name {
      color: black;
    }
  }

  ::ng-deep .storybook-category-content-background-overlay {
    background-color: inherit;
  }

  .storybook-category-content-name {
    color: black;
  }
}
