:host {
  h1 {
    font-size: 2em;
    text-align: center;
  }

  .storybook-component-headline {
    font-size: 2em;
    text-align: center;
  }

  ::ng-deep .storybook-category-content-background-overlay {
    background-color: inherit;
  }

  .storybook-category-content-name {
    color: black;
  }
}

::ng-deep .storybook-category-content-background-overlay {
  background-color: inherit;
}

.storybook-category-content-name {
  color: black;
}
