:host {
  #footer {
    font-size: 1em;
    font-weight: 400;
    padding-top: 2em;
    color: #555;
    letter-spacing: .1em

    ul {
      list-style: none;
      padding-left: 0

      li {
        padding: .5em 0
      }
    }
  }

  .sub-footer {
    background: #fff;
    padding: 1em 0;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px
  }

  .footer-title {
    color: #555;
    font-weight: 700;
    font-size: 1em;
    margin: 0 0
  }

  .newsletter-box {
    padding: 3em 0
  }
}
